@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,400&display=swap');
body {
    --text-main: #1d1d1b;
    --text-active: #009b47;
    --text-highlighted: #00843e;
    --text-highlighted-light: #f5e814;
    --text-light: #ffffff;
    --text-secondary: #a6a9ab;
    --text-tertiary: #dfdfdf;

    --side-padding: 30px;
    --side-padding-mobile: 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: #000;
    margin: 0;
    padding: 0;
}
img { max-width: 100%; }
strong, b, th {font-weight: 500;}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.9);
    padding: 15px var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: block;
    text-decoration: none;
    width: 72px;
    max-height: 28px;
}
/* .header-nav__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-nav__li {display: none;}
.header-nav__li--main {display: block;}
.header-nav__link {
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 25px 0;
    color: var(--text-main);
    text-decoration: none;
}
.header-nav__link--active,
.header-nav__link:hover {
    color: var(--text-highlighted);
}
.header-nav__link--active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--text-highlighted);
} */
.header-side {
    display: flex;
}
.contract_btn {
    display: inline-block;
    color: var(--text-light);
    text-decoration: none;
    border: 1px solid var(--text-highlighted);
    padding: 10px 20px;
    white-space: nowrap;
    background-color: var(--text-highlighted);
}
.contract_btn:hover {
    color: var(--text-highlighted);
    background-color: var(--text-light);
}
.header-side__link .contract_btn-text {display: none;}
@media screen and (min-width: 768px) {
    .header-nav__li {display: list-item;}
    .header-side__icon {margin-right: 5px;}
    .header-side__link .contract_btn-text {display: inline;}
}
.section-content {
    padding: 0 var(--side-padding-mobile);
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    .section-content {
        padding: 0 var(--side-padding);
    }
}
.section-heading {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 0;
    color: var(--text-highlighted);
}
.section-heading--h1 {
    margin-bottom: 1.5em;
    font-weight: 900;
}
.list {
    list-style: none;
    margin: 30px 0;
    padding-left: 20px;
}
.list__item {position: relative;}
.list__item:before {
    content: '\2014';
    color: var(--text-active);
    margin-right: 8px;
    position: absolute;
    right: 100%;
    top: 0;
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding-top: 70px;
    background-color: var(--text-main);
}
.main-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.main-bg__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(30%)
}
.main-content {
    z-index: 1;
    color: var(--text-light);
}
.main-content .contract_btn {margin-top: 20px;}
.main-list__item {margin: .5em 0;}
.main-content .section-heading {color: var(--text-light);}
@media screen and (min-width: 768px) {
    .main-content {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

.stages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    gap: 20px;
    text-align: left;
    color: var(--text-main);
}
.stages-item {
    flex: 0 0 calc(50% - 10px);
}
.stages-item__image {
    padding-bottom: 66%;
    position: relative;
}
.stages-item__image-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.stages-item p {margin: 0;}
.stages-item__heading {
    color: var(--text-highlighted);
    font-weight: 700;
    padding-top: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
    .stages {
        flex-wrap: nowrap;
        gap: 30px;
    }
    .stages-item {
        flex: 1 1 1px;
    }
}
.benefits-hint {
    font-weight: 500;
}
.photos-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 9px;
    margin-bottom: 10px;
}
.photos-item {flex: 0 0 calc(20% - 6px);}
.photos-item--horizontal {flex: 0 0 calc(40% - 6px);}
.photos-item__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .photos-container {gap: 10px;}
    .photos-item {flex-basis: calc(33% - 5px);}
    .photos-item--horizontal {flex-basis: calc(67% - 5px);}
    .photos-item--horizontal_inline {flex-basis: calc(50% - 5px);}
}
#footer {
    background-color: var(--text-main);
    color: var(--text-light);
}
.footer-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-content__item {flex: 1 1 1px;}
.footer-content p {margin: 0 0 5px;}
.footer-content a {
    color: inherit;
    text-decoration: none;
}
.footer-content a:hover {color: var(--text-highlighted);}
.footer-content__item-heading {
    color: var(--text-active);
    margin-bottom: 10px;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    .footer-content {flex-wrap: wrap;}
    .footer-content__info {flex: 1 0 100%;}
}
.calculator-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}
.calculator-form__fieldset {
    flex: 1 0 1px;
    border: 0;
    padding: 0;
    margin: 0;
}
.calculator-form__fieldset--wide {
    flex: 1 0 100%;
}
.calculator-form__input {
    padding: 15px 10px;
    border: 1px solid var(--text-secondary);
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.calculator-form__input:hover,
.calculator-form__input:active,
.calculator-form__input:focus {
    border-color: var(--text-highlighted);
}
.calculator-form__label {
    display: block;
    margin-bottom: 10px;
}
.calculator-form__buttons {
    flex: 1;
}
.calculator-form__label-hint, .message {color: var(--text-highlighted)}
.calculator-form__submit {
    display: block;
    width: 100%;
    border: 1px solid var(--text-active);
    background-color: var(--text-active);
    color: var(--text-light);
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
    font-family: inherit;
    font-weight: 500;
    outline: none;
    font-size: inherit;
    letter-spacing: 1px;
}
.calculator-form__submit:not(:disabled):hover {
    border: 1px solid var(--text-highlighted);
    background-color: var(--text-highlighted);
    color: var(--text-light);
    cursor: pointer;
}
.calculator-form__submit:disabled {
    opacity: .5;
}
.agreement__link {color: inherit;}
.agreement__link:hover {color: var(--text-highlighted);}
.models-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.models-list__item {
    flex: 1 1 1px;
    padding: 20px;
    text-align: center;
    background-color: var(--text-active);
    cursor: pointer;
    transition: background-color .5s;
}
.models-list__item:hover {
    background-color: var(--text-highlighted);
}
.models-list__item--active {
    background-color: var(--text-highlighted);
    color: var(--text-light);
    position: relative;
}
.models-content {
    border: 2px solid var(--text-highlighted);
    padding: 20px;
}
.models-content__item {display: none;}
.models-content__item--active {
    display: block;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tr:nth-child(odd) {
    background-color: var(--text-tertiary);
}
.table__td {
    padding: 15px 10px;
    border: 0;
}
.table__td:first-child {text-align: left;}
.table__td--highlighted {
    color: var(--text-highlighted);
    text-align: right;
    width: 25%;
}
.schedule__td-heading {color: var(--text-active);}
@media screen and (max-width: 767px) {
    .schedule-table {
        display: block;
    }
    .schedule-table__body {display: block;}
    .schedule__th {display: none;}
    .schedule__tr {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .schedule__td {padding: 8px;}
}
